copy.txt
[
    {
        "id": "c12e9e18.651ae",
        "type": "tab",
        "label": "Flow 3",
        "disabled": false,
        "info": ""
    },
    {
        "id": "bec0b05.54ba45",
        "type": "inject",
        "z": "c12e9e18.651ae",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": "",
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 170,
        "y": 200,
        "wires": [
            [
                "a9c3b25c.f6cc1"
            ]
        ]
    },
    {
        "id": "a9c3b25c.f6cc1",
        "type": "exec",
        "z": "c12e9e18.651ae",
        "command": "termux-sensor -s \"Light\" -n 1",
        "addpay": true,
        "append": "",
        "useSpawn": "false",
        "timer": "",
        "oldrc": false,
        "name": "",
        "x": 280,
        "y": 300,
        "wires": [
            [
                "6d1fabef.8f4bf4",
                "a7281c9a.b89b6"
            ],
            [],
            []
        ]
    },
    {
        "id": "6d1fabef.8f4bf4",
        "type": "http request",
        "z": "c12e9e18.651ae",
        "name": "",
        "method": "POST",
        "ret": "txt",
        "paytoqs": "ignore",
        "url": "http://192.168.0.102:1880/iot",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 370,
        "y": 60,
        "wires": [
            []
        ]
    },
    {
        "id": "a7281c9a.b89b6",
        "type": "debug",
        "z": "c12e9e18.651ae",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 590,
        "y": 400,
        "wires": []
    }
]


